# Project exclude paths
/.gradle/
.idea
/build/
/build/classes/kotlin/jvm/main/
/build/classes/kotlin/jvm/test/
/build/classes/kotlin/native/main/klib/
/testlog*
.kotlin
/.gigaide/gigaide.properties
.DS_Store
